/* General styles */
body {
  font-family: Nulshock bold;
  margin: 0;
  padding: 0;
  background-color: #003262;
}

/* Cargar la fuente Nulshock Bold desde el archivo .otf */
@font-face {
  font-family: 'Nulshock Bold';  
  src: url('fuentes/nulshock\ bd.otf') format('opentype'); 
  font-weight: bold; 
  font-style: normal;
}

/*************************Encabezado***************************/

header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 40px 0; 
  height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

/* Ajusta el logo */
header .logo {
  height: 40%; 
  max-height: 80%; 
  display: flex;
  align-items: center; 
}

/* Imagen del logo */
header .logo img {
  height: 100%; 
  max-height: 80%; 
  object-fit: contain; 
}

/* Estilo del menú */
header .menu {
  align-items: center; 
  gap: 20px; 
  font-size: 16px;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  position: relative;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  position: relative;
}

.menu a {
  color: #003262;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: color 0.3s;
}

.menu a:hover {
  color: #FFC72C;
}

.submenu {
  display: none;
  position: absolute;
  background-color:rgb(255, 255, 255);
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  top: 100%;
  left: 0;
}

.submenu li a {
  padding: 10px 20px;
}

.dropdown:hover .submenu {
  display: block;
}

.logo {
  width: 150px;
  height: auto;
  margin-left: 20px;
}


/* Contenedor del interruptor de idioma */
.language-switcher {
  display: flex;
  gap: 10px; 
  margin-bottom: 50px; 
}

/* Botones de cambio de idioma */
.language-btn {
  background-color: #003262;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.language-btn:hover {
  background-color: #FFC72C;
  color: #000;
}

.lang-button {
  background: none;
  border: none;
  color: #0c2c4a;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.lang-button:hover {
  color: #FFC72C;
}

.flag {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}



/************** Botón REPORT A SCAM ***********/
.report-scam-button {
  background-color: red;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px; 
}

/* Efecto hover para el botón REPORT A SCAM */
.report-scam-button:hover {
    background-color: #0c2c4a;
    color: #000;
}

/* Asegura espacio adecuado entre elementos */
.main-menu a:not(:last-child) {
    margin-right: 15px;
}

.language-switch {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}


/* Pantallas grandes */
@media (min-width: 769px) {
  .language-switch {
    display: flex;
  }

  .report-scam-button {
    margin-left: 20px; 
  }
}

/* Pantallas pequeñas */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; 
  }

  .language-switch {
    margin-bottom: 10px; 
  }

  .report-scam-button {
    margin-top: 10px; 
    align-self: flex-start; 
  }
}


/********** MENÚ HAMBURGUESA PARA DISPOSITIVOS MÁS PEQUEÑOS **********/

.hamburger-menu {
  display: none;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.hamburger-menu span {
  height: 3px;
  width: 25px;
  background-color: #003262;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    display: none;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 100%; 
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .menu.show {
    display: flex;
  }

  .submenu {
    position: relative;
    top: 0;
  }

  .hamburger-menu {
    display: flex;
  }
}


/***************LOGO MENÚ HAMBURGUESA*****/

/* Asegurarse de que el logo esté visible en pantallas grandes */
@media (min-width: 768px) {
  .logo {
    display: block; 
  }
}

/* En pantallas pequeñas, el logo se oculta solo cuando el menú hamburguesa está activo */
@media (max-width: 767px) {
  .logo.hidden {
    display: none; 
  }
}



/**********************************PÁGINA PRINCIPAL*****************/

/****carrusel***/

.slider-box{
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 400%; 
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-box li {
  width: 100vw; 
  min-height: 300px; 
  height: auto; 
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  list-style: none;
  position: relative;
  padding: 20px;
}

.texto {
  position: relative;
  text-align: center;
  padding: 20px;
  color: #FFC72C; 
  width: 50%;
}

.texto h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.texto p {
  font-size: 1rem;
  line-height: 1.5;
}

.imagen {
  width: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen img {
  max-width: 100%; 
  height: auto; 
}

/*Botón carrusel*/

/* Estilo del botón */

.btn-slide {
  display: inline-block; 
  margin-top: 20px; 
  padding: 10px 20px; 
  background-color: #ffffff; 
  color: #003262;
  font-size: 1rem; 
  text-decoration: none; 
  border: 2px solid #003262; 
  border-radius: 5px; 
  text-align: center; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

/* Efecto hover */
.btn-slide:hover {
  background-color: #FFC72C; 
  color: #ffffff; 
}

/* Responsividad */
@media (max-width: 768px) {
  .btn-slide {
    width: 50%; 
    text-align: center; 
    font-size: 0.9rem; 
  }
}

@media (max-width: 768px) {
  .contenido {
    flex-direction: column; 
    align-items: center; 
  }

  .texto {
    text-align: center; 
    margin-bottom: 20px; 
  }

  .btn-slide {
    width: 60%; 
  }

  .imagen img {
    width: 80%; 
    margin-top: 20px;
  }
}

/**************RESPONSIVE CARRUSEL******/

@media (max-width:991px) {

  body {
    padding: 30px;
  }

  .slider-box {
    width: 100%;
  }

  .slider-box li {
    min-height: 200px; 
    padding: 20px;
    display: flex; 
    justify-content: center;
    align-items: center; 
  }

  .texto {
    top: 50px;
    padding: 0 10px;
    text-align: center; 
    padding-bottom: 30px; 
  }

  .texto h2 {
    font-size: 1.5rem; 
    margin-bottom: 10px;
  }

  .texto p {
    font-size: 0.9rem; 
    line-height: 1.5; 
  }
}

@media (max-width: 768px) {
  .slider-box li {
    flex-direction: column; 
  }

  .texto, .imagen {
    width: 100%; 
  }

  .imagen img {
    max-width: 80%; 
    margin: 0 auto; 
  }
}


/* Contenedor de los puntos */
.dots {
  text-align: center;
  margin-top: 20px;
}

.dots span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dots span.active {
  background-color: #FFC72C; 
}

/**BLOQUE 2**/

/* ABOUT US Section */
.about-us {
  padding: 50px 20px;
  background-color: #FFC72C;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  clip-path: polygon(50% 0%, 90% 35%, 75% 85%, 50% 70%, 25% 85%, 10% 35%, 50% 0%);
  flex: 1 1 300px;
  padding: 10px;
}

.about-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.about-text {
  flex: 2 1 500px;
  padding: 20px;
  text-align: center;
}

.about-text h2 {
  font-size: 36px;
  color: #003262;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.btn-about {
  display: inline-block;
  background-color: #003262;
  color: #fff;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.btn-about:hover {
  background-color: #000000;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  
  .about-text {
    text-align: center;
  }
}

/*****BLOQUE 3****/

.our-director {
  background-color: #003262; 
  padding: 50px 0;
}

.our-director .container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
  text-align: center;
}

.our-director .text {
  max-width: 500px;
  padding: 20px;
}

.our-director .text h2 {
  font-size: 36px;
  font-weight: bold;
  color: #FFC72C;
  margin-bottom: 10px;
}

.our-director .text p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.our-director .director-photo img {
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

/* Responsive */
@media (max-width: 768px) {
  .our-director .container {
      flex-direction: column;
      text-align: center;
  }

  .our-director .text {
      margin-bottom: 20px;
  }

  .our-director .director-photo {
      display: flex;
      justify-content: center;
  }

  .our-director .director-photo img {
      max-width: 100%;
  }
}

/********BLOQUE 4**********/

.who-we-serve {
  background-color: #FFC72C; 
  padding: 2rem;
  text-align: center;
}

.who-we-serve h2 {
  color: #003262; 
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.serve-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.serve-item {
  text-align: center;
  width: 30%;
}

.serve-item a {
  text-decoration: none;
}

.serve-item span {
  color: #4B4B4B; 
  font-size: 1.2rem;
  font-weight: bold;
}

.serve-item span:hover {
  color: #003262;
}

.serve-item img {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  margin-top: 0.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.serve-item img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .serve-item {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .serve-item {
    width: 90%;
  }
}

body.local{
  background-color: #ffffff;
}

body.social-j{
  background-color: #ffffff;
}

body.vulnerable{
  background-color: #ffffff;
}

/************BLOQUE 5*********/

.locations {
  background-color: #003262; 
  padding: 40px 0;
  text-align: center;
}

.locations h2 {
  color: #FFC72C;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.locations-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.location-item {
  flex: 1 1 calc(25% - 20px);
  max-width: 250px; 
  margin-bottom: 20px;
}

.location-item span {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: block;
}

.heart-image {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  transition: transform 0.3s;
  border-radius: 50% 50% 0 0;
}


.location-item a {
  text-decoration: none;
}

.location-item a:hover .heart-image {
  transform: scale(1.1);
}

.location-item a:hover span {
  color: #FFC72C; 
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .location-item {
    flex: 1 1 calc(45% - 20px); 
  }
}

@media (max-width: 480px) {
  .location-item {
    flex: 1 1 100%; 
  }
}

/**BLOQUE 6**/

#contact-section {
  background-color: #FFC72C; 
  padding: 50px 20px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-image {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image img {
  width: 500px;
  height: 500px;
  border-radius: 50%; 
  object-fit: cover;
  border: 5px solid #003262; 
}

.contact-form {
  flex: 2; 
  max-width: 600px;
  width: 100%;
}

.form-wrapper {
  background-color: rgb(255, 255, 255); 
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  color: #4B4B4B; 
}

.form-wrapper h2 {
  color: #003262; 
  margin-bottom: 20px;
  text-align: center;
}

.contact-form .form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-form input, 
.contact-form select, 
.contact-form textarea, 
.contact-form button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #003262; 
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #002147;  
}

.contact-form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

/* Diseño responsive */
@media (max-width: 768px) {
  .contact-container {
      flex-direction: column; 
      text-align: center;
  }

  .contact-image img {
      width: 200px;
      height: 200px;
  }

  .form-wrapper {
      padding: 20px;
  }
}



/*****CHILE, ARGENTINA, USA y España****/

body.chile{
  background-color: #ffffff;
}

body.argentina{
  background-color: #ffffff;
}

body.usa{
  background-color: #ffffff;
}

.button-container {
  text-align: center;
  margin-top: 20px; 
}

/* Estilo base para los botones */
.btn-about {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  color: #003262; 
  background-color: white;
  border: 2px solid #003262; 
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px; 
  transition: all 0.3s ease; 
}

/* Estilo cuando se pasa el cursor por encima */
.btn-about:hover {
  background-color: #FFC72C; 
  color: black; 
  border-color: #FFC72C; 
}


/*******************************************SUB-PÁGINAS SLIDE**************************************/


/* Estilización del contenido de la noticia */
.contenido-noticia {
  background-color: #003262;
  color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  max-width: 800px;
  text-align: left;
  line-height: 1.8;
}

/* Título */
.contenido-noticia h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #FFC72C;
  text-align: center;
}

/* Texto de la noticia */
.contenido-noticia p {
  font-size: 1.4rem;
  color: #e0e0e0;
}

/* Imagen */
.imagen-noticia {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
}

/* Responsividad */

/* Para pantallas medianas (768px - 1024px) */
@media (max-width: 1024px) {
  .contenido-noticia {
      padding: 20px;
      max-width: 90%;
  }
  
  .contenido-noticia h1 {
      font-size: 2.5rem;
  }
  
  .contenido-noticia p {
      font-size: 1.2rem;
  }

  .btn-slide {
      padding: 12px 20px;
      font-size: 1rem;
  }
}

/* Para pantallas pequeñas (hasta 768px) */
@media (max-width: 768px) {
  .contenido-noticia {
      padding: 15px;
      max-width: 100%;
      margin: 10px;
  }
  
  .contenido-noticia h1 {
      font-size: 2rem;
      text-align: center;
  }
  
  .contenido-noticia p {
      font-size: 1rem;
  }

  .btn-slide {
      width: 50%;
      text-align: center;
      padding: 15px;
      font-weight: bold;
  }

  .imagen-noticia {
      width: 100%;
      height: auto;
      margin: 10px 0;
  }
}

/*********************REPORT A SCAM*****************/

body.report{
  background-color: #ffffff;
}

/* Contenedor del formulario */
.form-container {
  max-width: 800px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Ajuste del iframe */
iframe {
  width: 100%;
  height: 600px;
  border: none;
}

/* Ajuste en dispositivos móviles */
@media (max-width: 600px) {
  iframe {
      height: 500px;
  }
}

/********************************************MISION & VISION *****************************/

.mision {
  padding: 40px;
  background-color: #fff;
}

.mision h1 {
  color: #003262; 
  text-align: center;
  margin-bottom: 30px;
}

.mision p {
  color: #003262;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* Estilos para la sección de Misión, Visión y Valores */
.mission-vision {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap;
}

.mission-vision .column {
  background-color: #003262;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 28%; 
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.mission-vision .column img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 10px;
  margin-bottom: 20px;
}

.mission-vision .column p {
  color: #ffffff; 
  font-size: 16px;
  line-height: 1.6;
}

.mission-vision .column h2 {
  font-size: 24px;
  color: #FFC72C; 
  margin-bottom: 20px;
}

/* Efecto hover para las columnas */
.mission-vision .column:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilos responsive */
@media (max-width: 768px) {
  .mission-vision .column {
      width: 45%; 
  }
}

@media (max-width: 480px) {
  .mission-vision .column {
      width: 100%; 
  }
}

/************************************OUR WORK ******************************/

.our-work {
  background-color: #003262; 
  padding: 50px;
  text-align: center;
}

.our-work h1 {
  color: #FFC72C; 
  font-size: 36px;
  margin-bottom: 40px;
}

.work-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.work-container {
  width: 30%;
  perspective: 1000px;
}

.work-item {
  background-color: #FFC72C; 
  color: #003262; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 350px; 
  width: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d; 
}

.work-item .front,
.work-item .back {
  backface-visibility: hidden; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}


.work-item .front {
  background-color: #FFC72C;
  color: #003262;
}


.work-item .back {
  background-color: #003262;
  color: #FFC72C;
  transform: rotateY(180deg);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
}

.work-item:hover {
  transform: rotateY(180deg);
}

.work-item:hover .back {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.work-item h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.work-item .image-container {
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 50%; 
  overflow: hidden;
}

.work-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .work-container {
    width: 45%; 
    margin: 0 auto; 
  }
}

@media (max-width: 480px) {
  .work-container {
    width: 100%; 
    margin: 0 auto; 
  }

  .work-section {
    justify-content: center; 
  }
}



/************************************OUR TEAM y BOARD MEMBERS******************************/

h1 {
  color: #FFC72C; 
  text-align: center; 
  margin-top: 50px; 
  font-size: 36px; 
}

/* Estilos generales para los miembros del equipo */
.team-container {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px;
  padding: 20px;
  justify-content: center; 
  align-items: center; 
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-decoration: none; 
}

.team-member img {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #FFC72C; 
}

.team-member p {
  font-size: 14px;
  color: #003262; 
}

/* Efecto hover para agrandar y mejorar el diseño del recuadro */
.team-member:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

/* Efectos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
  .team-container {
      grid-template-columns: 1fr; 
      gap: 20px; 
  }

  .team-member {
      padding: 15px; 
  }
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .team-container {
      display: flex;
      flex-direction: column; 
      gap: 20px; 
  }

  .team-member {
      padding: 15px; 
  }
}

/******MIEMBROS****/

.miembros{
  background-color: #ffffff;
}

.ceo-message {
  text-align: center;
  margin: 50px 0;
  font-family: Arial, sans-serif;
}

.ceo-message h2 {
  color: #FFC72C; 
  font-size: 2em;
  margin-bottom: 20px;
}

.ceo-message p {
  font-size: 1.2em;
  color: #003262; 
  max-width: 800px;
  margin: 0 auto 30px;
}

.social-links {
  display: flex;
  gap: 20px; 
  justify-content: center; 
  align-items: center;
}

.social-button {
  background-color: #003262; 
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

/* Estilo para las imágenes de los iconos */
.social-icon {
  width: 30px; 
  height: 30px; 
  margin-top: 5px; 
  transition: transform 0.3s ease; 
}


.social-button:hover {
  background-color: #FFC72C; 
}

/*************************FRAUD PREVENTION***************************/

/* Estilos específicos para la subpágina de Fraud Prevention */
#fraud-prevention {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#fraud-prevention section {
  background-color: #003262; 
  color: white; 
  padding: 20px;
  border-radius: 10px;
  max-width: 800px; 
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center;
}

#fraud-prevention h1, 
#fraud-prevention h2 {
  color: #FFC72C; 
  margin-bottom: 15px;
}

#fraud-prevention p {
  font-size: 16px;
  line-height: 1.5;
}

/* Estilos para videos e iframes */
#fraud-prevention video,
#fraud-prevention iframe {
  margin: 20px 0;
  max-width: 100%; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Responsive */
@media (max-width: 768px) {
  #fraud-prevention section {
      padding: 15px;
  }

  #fraud-prevention p {
      font-size: 14px;
  }

  #fraud-prevention video, 
  #fraud-prevention iframe {
      max-width: 90%; 
  }
}

@media (max-width: 480px) {
  #fraud-prevention h1, 
  #fraud-prevention h2 {
      font-size: 20px;
  }

  #fraud-prevention p {
      font-size: 12px;
  }
}

/*************************HOTLINE***************************/

#hotline-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#hotline-page section {
  background-color: #003262;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#hotline-page h1, 
#hotline-page h2 {
  color: #FFC72C;
  margin-bottom: 15px;
}

#hotline-page p {
  font-size: 16px;
  line-height: 1.5;
}

/* Form styles */
#hotline-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  text-align: left;
}

#hotline-form div {
  display: flex;
  flex-direction: column;
}

#hotline-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

#hotline-form input, 
#hotline-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

#hotline-form img {
  margin: 10px 0;
  max-width: 100%;
}

#hotline-form button {
  background-color: #FFC72C;
  color: #003262;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#hotline-form button:hover {
  background-color: #003262;
  color: #FFC72C;
}

/* Responsive */
@media (max-width: 768px) {
  #hotline-page section {
      padding: 15px;
  }

  #hotline-page p {
      font-size: 14px;
  }

  #hotline-form input, 
  #hotline-form textarea {
      font-size: 14px;
  }

  #hotline-form button {
      font-size: 16px;
  }
}

@media (max-width: 480px) {
  #hotline-page h1, 
  #hotline-page h2 {
      font-size: 20px;
  }

  #hotline-page p {
      font-size: 12px;
  }
}

/*************************GRC***************************/


#grc-page {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

/* Bloques alternados exclusivos de GRC */
#grc-page section:nth-child(odd) {
  background-color: #FFC72C; 
  color: #4B4B4B; 
}

#grc-page section:nth-child(odd) h1 {
  color: #003262; 
}

#grc-page section:nth-child(even) {
  background-color: #003262; 
  color: white; 
}

#grc-page section:nth-child(even) h1 {
  color: #FFC72C; 
}

/* General para los bloques de GRC */
#grc-page section {
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Responsive Design para GRC */
@media (max-width: 768px) {
  #grc-nav {
      flex-direction: column;
      gap: 10px;
  }

  #grc-nav a {
      text-align: center;
      font-size: 14px;
  }

  #grc-page section {
      padding: 15px;
  }

  #grc-page p {
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  #grc-nav a {
      font-size: 12px;
      padding: 8px 10px;
  }

  #grc-page h1 {
      font-size: 20px;
  }

  #grc-page p {
      font-size: 12px;
  }
}

/*************************Network***************************/

body.network-security {
    
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #003262;
}

.network-security .network-header {
    text-align: center;
    background-color: #003262;
    color: #FFC72C;
    padding: 20px 0;
}

.network-security .network-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.network-security .network-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.network-security .block {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.network-security .block.reverse {
    flex-direction: row-reverse;
}

.network-security .block .image,
.network-security .block .video {
    flex: 1;
    margin: 10px;
}

.network-security .block .image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.network-security .block .video iframe {
    width: 100%;
    height: 315px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.network-security .block .text-content {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 10px;
}

.network-security .block .text-content h2 {
    font-size: 1.8em;
    color: #003262;
    margin-bottom: 10px;
}

.network-security .block .text-content p {
    font-size: 1em;
    color: #555;
    margin: 0 20px;
}

/* Navigation Button Styles */
.network-security .navigation-button {
    text-align: center;
    margin: 20px 0;
}

.network-security .navigation-button .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #003262;
    background-color: #FFC72C;
    border: 2px solid #003262;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.network-security .navigation-button .btn:hover {
    color: #FFC72C;
    background-color: #003262;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .network-security .block {
        flex-direction: column;
    }

    .network-security .block.reverse {
        flex-direction: column;
    }

    .network-security .block .image,
    .network-security .block .video {
        margin: 0;
    }

    .network-security .block .text-content {
        padding: 10px;
    }

    .network-security .block .text-content h2 {
        font-size: 1.5em;
    }

    .network-security .block .text-content p {
        font-size: 0.9em;
    }

    .network-security .network-header h1 {
        font-size: 2em;
    }
}

/*************************Volunteer Opportunities***************************/

#volunteer-opportunities {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5em;
  color: #003262;
}

p {
  color: #555;
  font-size: 1.2em;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

label {
  font-size: 1.1em;
  color: #003262;
  text-align: left;
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="date"] {
  width: 50%;
}

button {
  background-color: #003262;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

button:hover {
  background-color: #FFC72C;
}

.cta-button {
  display: inline-block;
  background-color: #003262;
  color: #FFC72C;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  text-decoration: none;
  margin-top: 30px;
}

.cta-button:hover {
  background-color: #FFC72C;
  color: #003262;
}

/*************************DONATE***************************/

body.donate-page {
  margin: 0;
  background-color: #ffffff;
}

body.donate-page .donate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body.donate-page .donate-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #003262;
}

body.donate-page .donate-sections {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

body.donate-page .donate-section {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

body.donate-page .credit-donation {
  background-color: #FFC72C;
}

body.donate-page .bitcoin-donation {
  background-color: #003262;
}

body.donate-page .donate-form {
  display: flex;
  flex-direction: column;
}

body.donate-page .donate-form label {
  margin: 10px 0 5px;
}

body.donate-page .donate-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

body.donate-page .donate-form button {
  padding: 10px;
  background-color: white;
  color: #003262;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

body.donate-page .donate-form button:hover {
  background-color: #FFC72C;
  color: white;
}

@media (max-width: 768px) {
  body.donate-page .donate-sections {
      flex-direction: column;
  }
}

/*************************BECOME A SPONSOR***************************/

/* sponsor.css */

body.sponsor-page {
  margin: 0;
  background-color: #ffffff;
  color: #003262;
  padding: 20px;
}

.sponsor-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.sponsor-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #003262;
}

.sponsor-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #555555;
}

.sponsor-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.sponsor-image {
  width: 45%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sponsor-form {
  background-color: #FFC72C;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.sponsor-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #003262;
}

.sponsor-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.sponsor-form input,
.sponsor-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

.sponsor-form button {
  background-color: #003262;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.sponsor-form button:hover {
  background-color: #FFC72C;
  color: #003262;
}

@media (max-width: 768px) {
  .sponsor-images {
      flex-direction: column;
      gap: 10px;
  }

  .sponsor-image {
      width: 100%;
  }
}

/*************************BLOG***************************/
body.blog-page {
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

header p {
  font-size: 1.2rem;
  margin-top: 5px;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

#blog-posts {
  margin-bottom: 40px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.post {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  max-width: 350px;
}

.post h3 {
  font-size: 1.5rem;
  color: #003262;
  margin-bottom: 10px;
}

.post p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.post img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.post video {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

#create-post {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#create-post h2 {
  font-size: 2rem;
  color: #003262;
  margin-bottom: 20px;
}

#create-post label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

#create-post input,
#create-post textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

#create-post button {
  background-color: #003262;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#create-post button:hover {
  background-color: #FFC72C;
  color: #003262;
}

/*************************BLOG***************************/

body.blog-page {
  margin: 0;
  background-color: #fff;
}


.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.highlight {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.highlight img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.highlight-text {
  flex: 1;
}

.news {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-item {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.secondary-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #003262;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

button:hover {
  background-color: #FFC72C;
}

img {
  width: 100%;
  max-width: 300px; 
  height: auto; 
  object-fit: cover; 
  border-radius: 10px; 
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    gap: 10px;
  }

  .highlight {
    flex-direction: column;
    text-align: center;
  }

  .highlight img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .news {
    flex-direction: column;
    gap: 10px;
  }

  .secondary-content {
    grid-template-columns: 1fr; 
    gap: 10px;
  }

  .card {
    margin: 0 auto; 
  }
}





